{% extends "base.html.twig" %}
{% block title %}   Liste  {% endblock %}
{% block content %}
    <script src="{{ asset("https://kit.fontawesome.com/ae15aac6fb.js") }}" crossorigin="anonymous"></script>


    <div class="container">
        <div class="row">
            <div class="col align-self-center">

                <br>
                <div  class="m-4">
                    <center><h2 style="color: #2586f5;">Liste des Ordonnances</h2></center>

                </div>
                <br>
                <a href="{{ path('AddOrdo') }}" class=pull-right >+Ajouter Ordonnance</a>
                <br> <br>

                <table class="table table-striped table-hover"  align="left">
                    <thead style="backgournd: #2586f5;" >
                    <tr>
                        <th>Id</th>
                        <th>Nom Medecin</th>
                        <th>Prenom Medecin</th>
                        <th>Téléphone Medecin</th>
                        <th>Nom Patient</th>
                        <th>Prenom Patient</th>
                        <th>Date de Consultation</th>
                        <th>Medicament</th>
                        <th>Descrption</th>
                        <th>Nombre de jours</th>
                        <th>Nombre de doses</th>
                        <th>Nombre de fois/jour</th>
                        <th>Nombre de paquets</th>
                        <th >Actions</th>
                    </tr>
                    </thead>
                    <tbody> <!-- table body -->
                    {% for i in odn %}
                        <tr>
                            <td> {{ i.id}}</td>
                            <td>{{ i.Medecin.nomMedecin }}</td>
                            <td>{{ i.Medecin.prenomMed }}</td>
                            <td>{{ i.Medecin.NumTel }}</td>
                            <td>{{ i.Patient.nom }}</td>
                            <td>{{ i.Patient.prenom }}</td>
                            <td>{{ i.Consultation.dateC|date('Y-m-d') }}</td>
                            <td>{{ i.medicaments.name }}</td>
                            <td>{{ i.description }}</td>
                            <td>{{ i.NbrJrs }} jours</td>
                            <td>{{ i.NbrDoses }} dose(s)</td>
                            <td>{{ i.NbrFois }} fois par jour </td>
                            <td>{{ i.NbrPaquets }} paquet(s)</td>

                            <td>
                                <a href="{{ path('edit',{'id':i.id}) }}"> Update </a>
                                |
                                <a href="{{ path('Supprimer',{'id':i.id}) }}">Remove</a>
                                |
                                <a href="{{ path('PdfOrdo',{'id':i.id})}}"> Download </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br> <br> <br> <br>


{% endblock  %}
