{% extends "base.html.twig" %}
{% block title %}   Liste  {% endblock %}
{% block content %}
    <script src="{{ asset("https://kit.fontawesome.com/ae15aac6fb.js") }}" crossorigin="anonymous"></script>

    {{ form_start(form) }}

    <div class="form-row align-items-end" >
        <div class="col">
            {{ form_row(form.Patient) }}
        </div>

        <div class="col">
            <div class="form-group">
                <br> <br> <br>
                <button type="submit"  class="btn btn-success" >Rechercher</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <br><br>

<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <!-- Form Elements -->
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Liste des Ordonnances</h3>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">



                            <table id="ord" class="table table-striped table-hover ">
                                <thead>

                    <tr>
                        <th>Id</th>

                        <th>email Medecin</th>

                        <th>Nom Patient</th>
                        <th>Prenom Patient</th>
                        <th>Date de Consultation</th>
                        <th>Medicament</th>
                        <th>Descrption</th>
                        <th>Nombre de jours</th>
                        <th>Nombre de doses</th>
                        <th>Nombre de fois/jour</th>
                        <th>Nombre de paquets</th>
                        <th >Actions</th>
                    </tr>
                    </thead>
                    <tbody> <!-- table body -->
                    {% for i in odn %}
                        <tr>
                            <td> {{ i.id}}</td>

                            <td>{{ i.Users.email }}</td>

                            <td>{{ i.Patient.nom }}</td>
                            <td>{{ i.Patient.prenom }}</td>
                            <td>{{ i.Consultation.dateC|date('Y-m-d') }}</td>
                            <td>{{ i.medicaments.name }}</td>
                            <td>{{ i.description }}</td>
                            <td>{{ i.NbrJrs }} jours</td>
                            <td>{{ i.NbrDoses }} dose(s)</td>
                            <td>{{ i.NbrFois }} fois par jour </td>
                            <td>{{ i.NbrPaquets }} paquet(s)</td>

                            <td>
                                <a href="{{ path('edit',{'id':i.id}) }}"> Update </a>
                                |
                                <a href="{{ path('Supprimer',{'id':i.id}) }}"
                                onclick="return confirm('Etes-vous sûr de supprimer cette Ordonnance?');">Remove</a>
                                |
                                <a href="{{ path('PdfOrdo',{'id':i.id})}}"> Download </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
    <br> <br> <br> <br>

{% endblock  %}
