{% extends "base.html.twig" %}
{% block title %}   Update  {% endblock %}
 {% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <script src="{{ asset("https://kit.fontawesome.com/ae15aac6fb.js") }}" crossorigin="anonymous"></script>


<!-- Forms Section-->
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <!-- Form Elements -->
            <div class="col-lg-12">
                <div class="card">

                    {% for message in app.flashes('info') %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Modifier Médicaments</h3>
                    </div>
                    <div class="card-body">

                    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

    {{ form_widget(form) }}
                        {{ form_errors(form)}}
                        <div class="line"></div>
                        <div class="form-group ">

                            <div class="text-left">
                                <br>
                                <button type="submit" class="btn btn-success" >Save</button>

                            </div>
                            <div class="text-right">
                                <a href="{{ path('ShowMedic') }}">Back to the list</a>
                                   </div>

                        </div>


    {{ form_end(form) }}


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <br> <br> <br> <br>




{% endblock %}




