{% extends "base.html.twig" %}
{% block title %}   Update  {% endblock %}
 {% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <script src="{{ asset("https://kit.fontawesome.com/ae15aac6fb.js") }}" crossorigin="anonymous"></script>


    {% for message in app.flashes('info') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col align-self-center">
    <br>
    <center><h2 style="color: #2586f5;">Modifier des Médicaments</h2></center>
    <br>
    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

    {{ form_widget(form) }}
    <table>
        <tr>
          <td> <button type="submit" class="btn btn-success" > Save </button></td>
            <td style="width:750px;"></td>
            <td><a href="{{ path('ShowMedic') }}">Back to the list</a></td>
        </tr>
    </table>

    </div>
    </div>
    </div>
    <br> <br> <br> <br>
    {{ form_end(form) }}






{% endblock %}




