{% extends 'basee.html.twig' %}
{% block body %}
<p> bienvenue dans cette page</p>
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
    <table border="1">
        <tr>
            <th> num de chambre</th>
            <th>num d'etage</th>
            <th>nombre de place</th>
            <th>service</th>
            <th>bloc</th>
        </tr>
        {% for i in chambres %}
            <tr>
                <td> {{ i.num}}</td>
                <td>{{ i.numetage }}</td>
                <td>{{ i.nbrplace }}</td>
                <td>{{ i.service }}</td>
                <td>{{ i.bloc }}</td>

            </tr>
        {% endfor %}
    </table>
    </body>
    </html>
{% endblock  %}