{% extends 'basee.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}

    <div class="card" style="padding: 20px;">
        {{ form(form) }}
        <table class="table table-striped table-hover" id="myTable">
            <thead style="backgournd: #efefef;"> <!-- hedhi yaani table headers -->
            <tr>
                <th onclick="sortTable(0)" class="sortable">Num de chambre</th>
                <th onclick="sortTable(1)" class="sortable">Num d'étage</th>
                <th onclick="sortTable(2)" class="sortable">Nombre de place</th>
                <th onclick="sortTable(3)" class="sortable">Service</th>
                <th onclick="sortTable(4)" class="sortable">Bloc</th>
                <th onclick="sortTable(5)" class="sortable">Catégorie</th>

            </tr>
            </thead>
            <tbody> <!-- table body -->
            {% for i in chambres %}
                <tr>
                    <td> {{ i.num}}</td>
                    <td>{{ i.numetage }}</td>
                    <td>{{ i.nbrplace }}</td>
                    <td>{{ i.service }}</td>
                    <td>{{ i.bloc }}</td>
                    <td>{{ i.category.nom}}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <style>
        .sortable{
            cursor: pointer;
        }

    </style>
    <script>
        function sortTable(n) {
            var table,
                rows,
                switching,
                i,
                x,
                y,
                shouldSwitch,
                dir,
                switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("TR");
                for (i = 1; i < rows.length - 1; i++) {
                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {

                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {

                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {

                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }


    </script>
{% endblock  %}